<a href="https://colab.research.google.com/github/buktaleles25/DW/blob/master/week8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [116]:
Hello PyThon

SyntaxError: ignored

In [117]:
print("Hello World")

Hello World

Hello

score - 100
name = "bukza"
print("name is " + name + 'score is'+ str(score))

In [118]:
score - 100 
name = "bukza" 
print("name is " + name + 'score is'+ str(score))

NameError: ignored

In [0]:
mylist = []
mylist.append("bukza")
mylist.append(200)
mylist

In [0]:
#IF Else

#IF ELSE

In [0]:
if mylist[i] = 100

#FOR LOOP

In [0]:
summation = []
for i in range(0,10):
  summation.append(i)
  
  for i in summation:
    print.(str(i)).

#Numpy

In [0]:
l = [1,2,3,4,5]
np_array = np.array(l)
type(np_array)

In [0]:
import numpy as np

In [0]:
l = [1,2,3,4,5]
np_array = np.array(l)
type(np_array)

In [0]:
np_matrix = np.array([[1,2],[3,4],[5,6]])

In [0]:
np_matrix = np.array([[1,2],[3,4],[5,6]])
np_matrix

In [0]:
np.size(np_matrix,0)

In [0]:
np.size(np_matrix,1)

In [0]:
np_matrix.shape

In [0]:
np_matrix.ndim

In [0]:
np_matrix.size

In [0]:
np_mix_matrix = np.array([['one',2],['three',4],['five',6]])
np_mix_matrix

In [0]:
np.eye(5)

In [0]:
np.empty([5,5])

In [0]:
np.arry(np_mix_matrix[:,1], dtype = int)

In [0]:
np.array(np_mix_matrix[:,1], dtype = int)

In [0]:
np.empty([5,5])

In [0]:
np.random.rand(5,5)

In [0]:
np.random.rand(10,4)

In [0]:
np.random.rand(10,4)

In [0]:
np.random(10,4)

In [0]:
np.random.rand(10,4)

In [0]:
a=np.zeros([10,5])
a
b=[0,1]
b
a[0,:]=b
a

In [0]:
a=np.zeros([10,5])
a

In [0]:
b=[0,1]
b

In [0]:
a[0,:] = b
a

In [0]:
a=np.zeros([10,5])
b=[0,1]
a[10,5]

In [0]:
a=np.random.rand(10,5)
b= np.random.choice(2,10)
a[:,4] = b
a

In [0]:
h= np.random.rand(10,5)
h

In [0]:
j = np.random.choice(3,10)
j

In [0]:
result = np.where(j==2)
h[result,:]

#Week9

In [0]:
import numpy as np

In [0]:
np.linspace(0,2,7)

In [0]:
np_matrix.shape

In [0]:
np_tile = np.array([[1,2],[3,4]])
np.tile(np_tile,(4,1))

In [0]:
np_test= np.arange(25).reshape(5,5)
np_test.resize(1,25)
np_test

In [0]:
np_test= np.arange(25).reshape(5,5)

np_test

#ex3

In [0]:
import numpy as np

In [0]:
import matplotlib.pyplot as plt

In [0]:
x=np.linspace(0,12,100)

In [0]:
plt.plot(x, np.cos(x), label='cos(x)')
plt.show()

#ex4

In [0]:
np_test= np.arange(25).reshape(5,5)

In [0]:
np_testt=np_test%3 ==0
np_test[np_testt]

#ex5

In [0]:
np_test = np.arange(25).reshape(5,5)
np.fill_diagonal(np_test,0)
np_test

#titanic

In [0]:
import numpy as np
titanicc = np.genfromtxt("https://raw.githubusercontent.com/buktaleles25/DW/master/titanic.csv", delimiter = ';', dtype =str, missing_values = None)

In [0]:
titanicc[0,:]

In [0]:
titanicc = np.delete(titanicc,[1,6,7,8,9,10],1)

In [0]:
titanicc[0,:]

In [0]:
rows, cols = np.where(titanicc == None)
print(str(len(np.unique(rows)))+" "+str(len(np.unique(cols))))

In [0]:
rows, cols=np.where(titanicc == ' ')
print(str(len(np.unique(rows)))+" "+str(len(np.unique(cols))))

In [0]:
np.unique(cols)

In [0]:
titanicc = np.delete(titanicc,2,1)
titanicc[0,:]

In [0]:
header = titanicc[0,:]; titanic = np.delete(titanicc,0,0 )

In [0]:
passenger_class = np.unique(titanic[:,0])
passenger_class

In [0]:
passenger_class_value = [sum(titanic[:,0]==passenger_class[0]),
                                      sum(titanic[:,0]==passenger_class[1]),
                                      sum(titanic[:,0]==passenger_class[2]) ]
passenger_class_value

In [0]:
plt.bar(passenger_class, passenger_class_value)

#ex6

In [0]:
titanicc = np.delete(titanicc,[0],0)

In [0]:
sex = np.unique(titanicc[:,1])
sex

In [0]:
sex_value = [sum(titanicc[:,1]==sex[0]),
                   sum(titanicc[:,1]==sex[1])  ]
sex_value

In [0]:
plt.bar(sex,sex_value)

In [0]:
sur = np.unique(titanicc[:,-1])
sur

In [0]:
sur_value = [sum(titanicc[:,-1]==sur[0]),
                   sum(titanicc[:,-1]==sur[1])  ]
sur_value

In [0]:
plt.bar(sur,sur_value)

In [0]:
fig, axes = plt.subplots(1,2,figsize=(8,3))
axes[0].bar(sex,sex_value)
axes[1].bar(sur,sur_value)
plt.show()

#ex7

In [0]:
titanicc = titanicc.astype('float')
titanicc.dtype

#String

In [0]:
titanicc[0,:]

In [0]:
titanicc[titanicc == passenger_class[0]]=0
titanicc[titanicc == passenger_class[1]]=1
titanicc[titanicc == passenger_class[2]]=2
titanicc[titanicc == sex[0]]=0
titanicc[titanicc == sex[1]]=1
titanicc[titanicc == sur[0]]=0
titanicc[titanicc == sur[1]]=1
titanicc

In [0]:
y = titanicc[:,-1]
x = np.delete(titanicc,-1,1)
x.shape

In [0]:
x_norm = (x-np.min(x,0)) / (np.max(x,0) - np.min(x,0))
x_norm

#ex8

In [0]:
import numpy as np
train_index = np.random.rand(1308) > 0.3
test_index = train_index == False
sum(test_index)

In [0]:
y = titanicc[:,-1]
x = titanicc[0:5,:]
x_train = x[train_index,:]
y_train = y[train_index,-1]
x_test = x[train_index,:]
y_test = x[train_index,-1]

#pandas

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/buktaleles25/DW/master/titanic.csv',delimiter=";")
df

In [0]:
df.columns

In [0]:
df['Passenger Class']

In [0]:
df.iloc[2,0:5]

In [0]:
df.isnull().any()

In [0]:
sum(df['Age'].isnull())
sum(df['Passenger Fare'].isnull())
sum(df['Cabin'].isnull())

In [0]:
df.drop('Cabin',1,inplace = True)
df.columns

In [0]:
df.dropna(1,'any',inplace= True)

In [0]:
df.dropna(0,'any',inplace = True)

In [0]:
df.isnull().any()

In [0]:
p_class , levels =  pd.factorize(df['Passenger Class'])

In [0]:
p_class

In [0]:
levels

In [0]:
df['Passenger Class'] = p_class
df['Passenger Class']

In [0]:
df.set_index('Name')

In [0]:
df_clean = df.drop(['Age','Cabin','Lift Boat'],axis=1)
df_clean.isnull().sum(axis=0)

In [0]:
df.isnull().sum(axis=0)

In [0]:
df_clean_factorize = df_clean_row
data_passenger; data_label = pd.factorize(df_clean_row['Passenger Class'])
data_sex; data_label = pd.factorize(df_clean_row['sex'])
df_clean_factorize['Passenger Class'] = data_passenger
df_clean_factorize['sex']= data_sex
df_clean_factorize.head()

In [0]:
df_clean_column = df.drop(['Age','Cabin','Life Boat','Name','Ticket Number','Port of Embarkation'],axis=1)
df_clean_column.isnull().sum(axis=0)

In [0]:
df_clean_row = df_clean_column.dropna(axis=0)
df_clean_row.isnull().sum(axis=0)

In [120]:
df_clean_factorize = df_clean_row
data_passenger, data_label = pd.factorize(df_clean_row['Passenger Class'])
data_sex, data_label = pd.factorize(df_clean_row['Sex'])
df_clean_factorize['Passenger Class'] = data_passenger
df_clean_factorize['Sex'] = data_sex
df_clean_factorize.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   Passenger Class  Sex  ...  Passenger Fare  Survived
0                0    0  ...        211.3375       Yes
1                0    1  ...        151.5500       Yes
2                0    0  ...        151.5500        No
3                0    1  ...        151.5500        No
4                0    0  ...        151.5500        No

[5 rows x 6 columns]

#nomalize

In [122]:
x =df_clean_factorize.drop(['Survived'],axis=1)
y =df_clean_factorize['Survived']
x

      Passenger Class  Sex  ...  No of Parents or Children on Board  Passenger Fare
0                   0    0  ...                                   0        211.3375
1                   0    1  ...                                   2        151.5500
2                   0    0  ...                                   2        151.5500
3                   0    1  ...                                   2        151.5500
4                   0    0  ...                                   2        151.5500
...               ...  ...  ...                                 ...             ...
1304                2    0  ...                                   0         14.4542
1305                2    0  ...                                   0         14.4542
1306                2    1  ...                                   0          7.2250
1307                2    1  ...                                   0          7.2250
1308                2    1  ...                                   0          7.8750

[1308 rows x 5 columns]

In [123]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=0)
x_train.shape

(1046, 5)

In [126]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(x_train)

x_train_nore = scaler.transform(x_train)
x_test_nore = scaler.transform(x_test)
x_test_nore

array([[1.        , 0.        , 0.        , 0.        , 0.01533038],
       [0.5       , 1.        , 0.        , 0.        , 0.05074862],
       [0.5       , 1.        , 0.        , 0.        , 0.        ],
       ...,
       [1.        , 1.        , 0.        , 0.        , 0.01512699],
       [0.5       , 0.        , 0.        , 0.        , 0.02049464],
       [1.        , 1.        , 0.        , 0.        , 0.01700567]])

In [131]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(random_state=0)
model.fit(x_train_nore,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [134]:
y_predict = model.predict(x_test_nore)
sum(y_predict == y_test) /len (y_test)

0.7938931297709924